venv/

__pycache__
docs/PadroesDeProjeto/gofsCriacionais/Singleton/codigo/*.class
docs/PadroesDeProjeto/gofsEstruturais/Facade/codigo/*.class
docs/PadroesDeProjeto/gofsComportamentais/Iterator/codigo/*.class